body {
    background: #111;
    color: #888;
    font-family: 'Homemade Apple', cursive;
    margin-bottom: 10px;
}

.play-area {
    padding: 20px 0 0;
}

.play-area .ui a {
    display: block;
    width: 100%;
    font-size: 2em;
    text-align: center;
    margin: 0 auto 20px;
    display: block;
    text-shadow: #333 0 0 10px;
    color: #aaa;
}
.play-area .ui-primary a {
    font-size: 4em;
}
.play-area .ui a:hover,
.play-area .ui a:active,
.play-area .ui a:focus
{
    text-decoration: none;
    text-shadow: #555 0 0 15px;
    outline: 0;
    border: 0;
}

.play-area .ui a.disabled { opacity: .2 }

.play-area .ui a.draw { color: #5bce6d; }
.play-area .ui a.reset { color: #973b3b; } 
.play-area .ui a.settings { color: #aaa; }

.token-list {
    position: relative;
}
.token-list.token-current {
}
.token-list.token-available {
    border: 5px solid #222;
    margin-top: 20px;
    padding-top: 10px;
}

.token-list .img-token {
    width: 100%;
    max-width: 150px;
    margin: 0 auto 10px;
}
.token-list.token-current .img-token{
    width: 100%;
    max-width: 300px;
    background: #222;
    box-sizing: content-box;
    border-radius: 1000px;
    margin: 0 auto 20px;
    padding: 1px;
    box-shadow: #333 0 0 15px;
}

.token-list span.count {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    padding: 3px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #973b3b;
    color: #fff;
    box-shadow: #000 0 0 10px;
}

.count-toggle-container {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.count-toggle {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background: #fff;
    font-size: 2.2em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: #000 0 0 5px;
    background-color: rgba(255, 255, 255, 0.1);
}
.count-toggle.disabled {
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
}
.count-toggle:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: #000 0 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.count-toggle.disabled:hover {
    cursor: auto;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
}
.count-toggle-up {
    margin-bottom: 3px;
    border-radius: 10px 10px 0 0;
}
.count-toggle-down {
    border-radius: 0 0 10px 10px;
}
.count-toggle--inner-container {
    display: block;
    width: 100%;
}
.count-toggle-down .count-toggle--inner-container {
    position: absolute;
    height: 25px;
    max-height: 100%;
    bottom: 5px;
    text-align: center;
}

.img-token.disabled {
    opacity: .3;
}

.img-token:hover,
.img-token.disabled:hover
{
    opacity: .8;
    cursor: pointer;
}

.credits {
    margin-top: 10px;
    font-family:arial;
    font-size: .7em;
    text-align: center;
    opacity: .5;
}

.credits:hover {
    opacity: .9;
}

.col-square {
    padding: 15px;
}

/**
 * Breakpoint Reference
 * https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css
 */

/* XS */
@media (max-width: 767px) {

}

/* SM and higher*/
@media (min-width: 768px) {
    .token-list span.count {
        font-size: 2em;
        width: 35px;
        height: 35px;
    }
}
