body {
    background: #111;
    color: #888;
    font-family: 'Homemade Apple', cursive;
    margin-bottom: 40px;
}

.play-area {
    padding: 20px 0 0;
}

.play-area a {
    font-size: 2.5em;
    text-align: center;
    width: 30px;
    max-width: 100%;
    margin: 0 auto 20px;
    display: block;
    text-shadow: #333 0 0 10px;
}
.play-area a:hover,
.play-area a:active,
.play-area a:focus
{
    text-decoration: none;
    text-shadow: #555 0 0 15px;
    outline: 0;
    border: 0;
}

.play-area a.disabled { opacity: .2 }

.play-area a.draw { color: #5bce6d; }
.play-area a.reset { color: #973b3b; } 
.play-area a.share { color: #5ca0c7; } 
.play-area a.settings { color: #aaa; }

.token-list {
    position: relative;
}
.token-list.token-current {
    min-height: 110px;
    padding-top: 20px;
}
.token-list.token-available {
    border: 5px solid #222;
    margin-top: 20px;
    padding-top: 10px;
}

.token-list .img-token {
    width: 60px;
    max-height: 60px;
    max-width: 100%;
    margin: 0 auto 10px;
}
.token-list.token-current .img-token{
    width: 60px;
    height: 60px;
    background: #222;
    box-sizing: content-box;
    border-radius: 1000px;
    margin: 0 auto 20px;
    padding: 1px;
    box-shadow: #333 0 0 15px;
}

.token-list span.count {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 30px;
    padding: 3px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: 8px;
    background: #973b3b;
    color: #fff;
    box-shadow: #000 0 0 10px;
}

.count-toggle-container {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 0 10px;
    max-height: 60px;
    text-align: center;
}
.count-toggle {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    font-size: 2.2em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: #000 0 0 5px;
    background-color: rgba(255, 255, 255, 0.1);
}
.count-toggle.disabled {
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
}
.count-toggle:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: #000 0 0 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.count-toggle.disabled:hover {
    cursor: auto;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
}
.count-toggle-up {
    margin-bottom: 3px;
    border-radius: 10px 10px 0 0;
}
.count-toggle-down {
    border-radius: 0 0 10px 10px;
}

.img-token.disabled {
    opacity: .3;
}

.img-token:hover,
.img-token.disabled:hover
{
    opacity: .8;
    cursor: pointer;
}

.credits {
    font-family:arial;
    font-size: .7em;
    position: fixed;
    bottom: 10px;
    left: 0;
    text-align: center;
    opacity: .3;
}

.credits:hover {
    opacity: .9;
}
